@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  @apply font-medium leading-tight text-5xl mt-0 text-blue-600 mb-2;
}

.form-field-validation-error {
  @apply block text-red-500 text-sm italic ml-1;
}

/* 
  Work around for errors highlighting on @brighthr/component-input 
  Component use both border-neutral-300 and border-error-500 so error borders can be hidden if React
  renders classes in different order (which it can do in dev)
*/
.border-error-500 {
  --tw-border-opacity: 1 !important;
  border-color: rgb(229 26 26 / var(--tw-border-opacity)) !important;
}
